*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
  }
  
   .container2{
    height: 50px;
    width: 120px;
    color: white;
    font-size: large;
    background-color: brown;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
   }
  
   .fan{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: -400px; 
    margin-right: 30px;
  
   }
  
   .fan h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700px;
    font-size: 50px;
   }
  
   .box{
    height: 60px;
    width: 300px;
    background-color:hsl(321, 100%, 78%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 60px;
    font-size: 20px;
  
   }
  
   
   .img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 30px; 
    margin-right: 30px;
    margin-top: 130px;
   }
  
  .show1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-right: -10px;
  }
  .show1 h1{
    font-size: 60px;
    margin-right: -10px;
  
  }
  .lorem{
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-size: larger;
    color: black;
    padding-left: 200px;
  }
  
  .people{
    margin-left: 800px;
    margin-top: -150px;
  }
  
  .flo{
    display: flex;
    margin-left: 600px;
    margin-bottom: 100px;
    margin-top: -80px;
    font-size: small;
    justify-items: left;
    flex-direction: column;
  }
  
  .people1{
    margin-top: 200px;
    margin-left: 200px;
  }
  
  .user{
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-size: large;
    color: black;
    padding-right: 400px;
    padding-top: 200px;
  }
  
  .people2{
    margin-left: 650px;
    margin-top: -150px;
  }
  
  .com{
    padding-left: 300px;
    padding-top: 200px;
  }

  .box2{
      height: 60px;
    width: 300px;
    background-color:hsl(321, 100%, 78%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 60px;
    font-size: 20px;
  }
  .footer{
    margin-top: 70px;
    background-image: url("./design/desktop-design.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 250vh;
    margin-left: -500px;
  }

  .hud{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    gap: 5px;
  }

  .mes{
    padding-top: 240px;
    margin-left: 70px;
    color: white;
  }
  
  .call{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .mail{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .icons{
    display: flex;
    gap: 20px;
  }

  .news{
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: -380px;
    margin-left: 100px;
    color: white;
  }
  .box3{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  input{
    height: 40px;
    width: 280px;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
  }
  .sub{
    height: 40px;
    width: 230px;
    border-radius: 5px;
    background-color: hsl(321, 100%, 78%);
    margin-top: 50px;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  .sub a{
    color: white;
  }
 
@media only screen and (min-width :500px) {
  body{
    background: blue;
  }
  .fan{
    padding-left: 500px;
  }
}
